@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');

.header{
    height: 700px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.730) 0%,rgba(0,0,0,0.720) 100%), url("https://images.unsplash.com/photo-1498830204877-434556b153df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=87bf5545cab0e4c06c71e62bcd80a3f3&auto=format&fit=crop&w=2250&q=80");
    margin: 0px;
}


.companytitle{
    font-family: 'Diplomata SC', cursive;
    font-size: 55px;
    color: white;
    width: 900px;
    height: auto;
    padding-top: 150px;
    left: 25%;
    position: absolute;
    text-align: center;

}

.subtitle{
    font-family: 'Diplomata SC', cursive;
    font-size: 35px;
    color: white;
    width: 800px;
    height: auto;
    padding-top: 300px;
    left: 27%;
    position: absolute;
    text-align: center;

}
