html{
    background: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a5e4cac8bcaf69ffaf5d3b1c2b063e4&auto=format&fit=crop&w=1600&q=60");
    padding: 0;
    margin: 0;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    word-wrap: none;
}
#flav{
    margin-left: auto;
    width: 100%;
}
#divHeader{
    width:100%;
}
.navItems {
    width: 86px;
}
#business{
    color: black;
    position: absolute;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(253, 81, 75);
    font-family: cursive;
    text-decoration: underline;
    left:80%;
}
#header-main{
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    background-color: #ffffff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.08);
    max-height: 48px;
    padding: 10px 0;
    position: fixed;
    z-index: 7;
    left: 0;
    right: 0;
}

#logo-container{
    padding: 0;
    padding-left: 0px;
    height: 48px;
}
#logo{
    padding: 0;
    padding-left: 5px;
    height:48px;
    width: 50px;
}
.topnav {
    position: static;
    display: flex;
    flex-direction: row;
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    top: 0;
    width: 100%;
    height: 60px;
    display: block;
    overflow: hidden;
    padding-bottom: 0;
    left: 0;
    z-index: 100;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a:hover {
    background-color: rgb(249, 238, 180);
    color: black;
}
.topnav a.active {
    background-color: rgb(249, 238, 180);
    color: black;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    width: auto;
  }

#image-container{
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    border: 5px solid tan;
    top: 20vh;
    left: 10%;
    width: 85%;
    height: auto;
}
.images1{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vh;
}
.images2{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vh;
}
.images3{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vh;
}
.images6{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vh;
}
.images7{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vh;
}
img{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    width: 40vh;
    padding-top: 0px;
}

.home-images1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
}
.home-images2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
}
.home-images3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding:5px;
    margin: 0px;
    width: 40vh;
}
h1{
    height: 8vh;
    display: inline-flex;
    margin: 0px;
    padding: 5px;
    padding-bottom: 20px;
}
#sailboat{
    height:70vh;
    width:45vh;
}
#anthony{
    height:60vh;
    width:100%;
    padding:5px;
}
form{
    left: auto;
    width: 100%;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1bdd3a5305d7913b82929130ae81fef6&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    
}
#first-name{
    padding:10px;
}
#last-name{
    padding:10px;
}
#email{
    padding:10px;
}
#message{
    padding:10px;
}
input{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    left: 25px;
}
#emailinput{
    left: 60px;
}
#inputmessage{
    display: flex;
    position: absolute;
    top: 20vh;
    left:5vh;
}

button{
    width: 100px;
    position: absolute;
    top: 45vh;
    left: 50vh;
}
#symon{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    width: 40vh;
    padding-top: 0px;
}

/* THIS SECTION IS THE RESPONSIVE SECTION FOR MOBILE PHONES */
@media only screen and (max-width: 500px){
    #image-container{
        background-color: white;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-evenly;
        border: 5px solid tan;
        top: 15vh;
        left: 10%;
        width: 35vh;
        height: auto;
    }
    ul{
        display: flex;
        flex-direction: row;
        height: auto;
    }
    .navItems {
        width: 55px;
    }
    li{
        word-wrap: none;
    }
    #flav{
        margin-left: auto;
        width: auto;
        height: 45px;
        margin: 0px;
        padding: 0px;
    }
    #divHeader{
        width:100%;
    }
    div{
        width:30vh;
    }
    #sailboat{
        display: none;
        height:70vh;
        width:0;
    }
    #sail{
        display: none;
    }
    .images1{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 35vh;
    }
    .images2{
        padding: 10px;
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        width: 75vh;
    }
    .images3{
        padding: 10px;
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        width: 75vh;
    }
    .images5{
        padding: 10px;
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        width: 75vh;
    }
    .home-images1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30vh;
        height: 20vh;
    }
    p{
        width: 30vh;
    }
    .home-images2{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 0;
        height: 0;
    }
    .home-images3{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 10;
        height: 0;
    }
    .images{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width:35vh;
    }
    #business{
        position: fixed;
        color: black;
        padding: 3px;
        width: 30px;
        height:25px;
        left:  175px;
        top: 10px;
        margin: 1px;
        text-decoration: none;
        font-size: 15px;
        color: rgb(253, 81, 75);
        
        top: 5vh;
        width: 30vh;
        word-wrap: none;
        font-family: cursive;
        text-decoration: underline;
    }
    divHeader{
        width:100%;
        display: flex;
    }
    .topnav {
        position: static;
        font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
        top: 0;
        width: 100%;
        height: 55px;
        display: block;
        overflow: hidden;
        padding-bottom: 0;
        left: 0;
        z-index: 100;
    }
    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 5px 16px;
        text-decoration: none;
        font-size: 10px;
        display: block;
    }
    .topnav a:hover {
        background-color: rgb(249, 238, 180);
        color: black;
    }
    .topnav a.active {
        background-color: rgb(249, 238, 180);
        color: black;
    }
    h1{
        height: 8vh;
        display: inline-flex;
        margin: 0px;
        padding: 5px;
        padding-bottom: 5vh;
        font-size: 25px;
        width:35vh;
    }
    #anthony{
        height:40vh;
        width:100%;
        padding:10px;
    }
    .anthony-contain{
        display: flex;
        width: 35vh;
        left: 5%;
    }
    form{
        left: auto;
        width: 100%;
        padding: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        background: url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1bdd3a5305d7913b82929130ae81fef6&auto=format&fit=crop&w=800&q=60);
        background-size: cover;
    }
    #first-name{
        padding:10px;
    }
    #last-name{
        padding:10px;
    }
    #email{
        padding:10px;
    }
    #message{
        padding:10px;
    }
    input{
        display: inline-flex;
        position: static;
        flex-direction: column;
        justify-content: space-evenly;
        left: 10%;
    }
    #emailinput{
        display: inline-flex;
        position: static;
        flex-direction: column;
        justify-content: space-evenly;
        left: 20%;
    }
    #inputmessage{
        display: inline-flex;
        position: relative;
        top: 0;
        left:0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
    button{
        width:10vh;
        position: relative;
        top: 0;
        left: 5px;
        background-color: white;
    }
    /* Starting here is About Us Mobile Section */
    .images6{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 35vh;
    }
    .images7{
        padding: 10px;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        width: 35vh;
    }
    img{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 30vh;
        padding-top: 0px;
    }
}
/* THIS SECTION IS THE RESPONSIVE SECTION FOR TABLETS*/
@media only screen and (min-width: 500px) and (max-width: 1400px){
    #image-container{
        background-color: white;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-evenly;
        border: 5px solid tan;
        top: 15vh;
        left: 10%;
        width: 60vh;
        height: auto;
    }
    div{
        width:25vh;
    }
    ul{
        display: flex;
        flex-direction: row;
    }
    li{
        word-wrap: none;
    }
    #flav{
        margin-left: auto;
    }
    #divHeader{
        width:100%;
    }
    .navItems {
        width: 60px;
    }
    .images1{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 25vh;
    }
    .images2{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 75vh;
    }
    .images4{
        padding: 10px;
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        width: 0;
    }
    .images3{
        padding: 10px;
        display: none;
        flex-direction: row;
        justify-content: space-evenly;
        width: 75vh;
    }
    .images5{
        padding: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
    }
    .home-images1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25vh;
        height: 20vh;
    }
    p{
        width: 25vh;
    }
    .home-images2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 25vh;
        height: 20vh;
    }
    .home-images3{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 10;
        height: 0;
    }
    .images{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width:35vh;
    }
    #business{
        position: fixed;
        color: black;
        text-align: center;
        padding: 1vh;
        margin: 1px;
        text-decoration: none;
        font-size: 20px;
        color: rgb(253, 81, 75);
        display: absolute;
        top: 1vh;
        left:50%;
        width: 30vh;
        word-wrap: none;
        font-family: cursive;
        text-decoration: underline;
    }
    divHeader{
        width:100%;
        display: flex;
    }
    .topnav {
        position: static;
        font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
        top: 0;
        width: 45vh;
        display: block;
        overflow: hidden;
        padding-bottom: 0;
        left: 0;
        z-index: 100;
    }
    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 5px 16px;
        text-decoration: none;
        font-size: 10px;
        display: block;
    }
    .topnav a:hover {
        background-color: rgb(249, 238, 180);
        color: black;
    }
    .topnav a.active {
        background-color: rgb(249, 238, 180);
        color: black;
    }
    h1{
        height: 8vh;
        display: inline-flex;
        margin: 0px;
        padding: 5px;
        padding-bottom: 1vh;
        font-size: 25px;
        width: auto;
    }
    #anthony{
        height:40vh;
        width:100%;
        padding-top:5vh;
    }
    .anthony-contain{
        padding-top: 10vh;
        display: flex;
        left:5%;
    }
    form{
        left: auto;
        width: 100%;
        padding: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        background: url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1bdd3a5305d7913b82929130ae81fef6&auto=format&fit=crop&w=800&q=60);
        background-size: cover;
    }
    #first-name{
        padding:10px;
    }
    #last-name{
        padding:10px;
    }
    #email{
        padding:10px;
    }
    #message{
        padding:10px;
    }
    input{
        display: inline-flex;
        position: static;
        flex-direction: column;
        justify-content: space-evenly;
        left: 10%;
    }
    #emailinput{
        display: inline-flex;
        position: static;
        flex-direction: column;
        justify-content: space-evenly;
        left: 20%;
    }
    #inputmessage{
        display: inline-flex;
        position: relative;
        top: 0;
        left:0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
    button{
        width:10vh;
        position: relative;
        top: 0;
        left: 5px;
        background-color: white;
    }
    /* Starting here is About Us*/
    .images6{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 35vh;
    }
    .images7{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 35vh;
    }
    img{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 25vh;
        padding-top: 0px;
    }
    #symon{
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        width: 25vh;
        padding-top: 0px;
    }
    #sailboat{
        display: none;
        height:70vh;
        width:0;
    }
    #sail{
        display: none;
    }
}