h1 {
    color: green;
    font-family: Georgia;
    text-align: center;
}

h2 {
    font-family: Georgia;
    text-align: center;
}

p {
    line-height: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#likeLabel {
    text-transform: uppercase;
}

img {
    float: left;
    
}

div {
    clear: left;
}