* {
    box-sizing: border-box;
    /* font-size: 0; */
}

body {
    margin: 25%;
    height: 0;
    width: 0;
}

#yo {
    display: inline-block;
    margin: 20%;
    padding: 0%;
    border: 0%;
    align-content: center;
    /* background-color: black; */
    height: 400px;
    width: 400px;
}

#box1 {
    background-color: #F5C6D6;
    width: 400px;
    height: 100px;
    border: 5px white solid;
}

.box2 {
    background-color: #EE2E84;
    display: inline-block;
    width: 97px;
    height: 100px;
    border: 5px white solid;
    margin: 0;
}

.box3 {
    width: 198px;
    height: 100px;
    border: 5px white solid;
    display: inline-block;
    background-color: #85CFD8;
}

.box4 {
    width: 300px;
    height: 100px;
    border: 5px white solid;
    display: inline-block;
    background-color: #8DC63F;
}

.box5 {
    width: 95px;
    height: 100px;
    border: 5px white solid;
    display: inline-block;
    background-color: #E76E34;
}

