#container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 500px;
    background-color: black;
}

#red{
    background-color: red;
    height: 100px;
    width: 100px;
}
#white{
    background-color: white;
    height: 100px;
    width: 100px;
}
#blue{
    background-color: blue;
    height: 100px;
    width: 100px;
}